.sezy-carousel {
  position: relative;
  overflow-x: hidden;
}

.sezy-carousel {
  position: relative;
  /* overflow-x: hidden; */
}

.sezy-carousel-prev,
.sezy-carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 100;
}
.sezy-carousel-prev {
  left: 2%;
}

.sezy-carousel-next {
  right: 3%;
}

.sezy-carousel-items {
  white-space: nowrap;
  line-height: 0;
}

.sezy-carousel-item {
  background: var(--primary-color);
  position: absolute;
  top: 0;
  left: 100%;
  /* transition: left 1s; */
  height: 100%;
  width: 100%;
}

.sezy-carousel-full-prev,
.sezy-carousel-full-next {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  cursor: pointer;
  z-index: 100;
}
.sezy-carousel-full-prev {
  left: 0;
  /* background:red; */
}

.sezy-carousel-full-next {
  right: 0;
  /* background:blue; */
}

@keyframes dotPlayTimeAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
